{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}




<div class="services content-area mt-10">
    <div class="container">
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
        </div>
        <div class="row">
            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Free Support</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Security</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Trusted Agents</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Dealership</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Engine Repair</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-3">
                  <div class="card-body">
                    <h3>Oil Change</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center mb-5">
                  <div class="card-body">
                    <h3>AIR conditioning</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center">
                  <div class="card-body">
                    <h3>Repairing</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>

            <div class="col-4 masonry-grid-item">
                <div class="card border border-primary text-center">
                  <div class="card-body">
                    <h3>Super Fast</h3>
                    <p class="card-text fs-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="inside-car service-car">
                    <iframe src="https://www.youtube.com/embed/5e0LxrLSzok" height="300" allowfullscreen="" class="rounded"></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed
                        into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he
                        could</p>
                    <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed
                        in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a
                        little he could see himself transformed in his bed</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->


{% endblock %}