<footer>
  <div class="pt-5 bg-darker">
    <div class="container">

      <div class="row">

        <div class="col-md-6 text-center text-md-start mb-4">
          <a class="text-light" href="#">Made with ❤️ by Suraj Bhattarai.</a>
        </div>

        <div class="col-md-6 text-center text-md-end mb-4">
          <a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i class="ci-twitter"></i></a>
          <a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i class="ci-facebook"></i></a>
          <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i class="ci-instagram"></i></a>
          <a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a>
          <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a>
        </div>
        
      </div>


    </div>
  </div>
</footer>